.breadcrumbs {
  width: 100vw;
  height: 25px;
  background-color: white;
  top: 0;
  margin-top: 150px;
  padding-left: 1em;
  position: fixed;
  z-index: 2;
}

.article-show {
  background-color:bisque;
  width: 100vw;
  margin-top: 175px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* 編集・削除・お気に入りボタン */
.article_btn {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.edit_btn,
.delete_btn,
.favorite_btn {
  display: inline-block;
  padding: 0.2em 0.8em;
  margin-left: 10px;
  text-decoration: none;
  color: #6699FF;
  border: double 4px #6699FF;
  border-radius: 3px;
  transition: .4s;
}
.edit_btn:hover {
  background: #dbf9ae;
}
.delete_btn:hover {
  background: #dbf9ae;
}
.favorite_btn:hover {
  -webkit-transform: rotateY(360deg);
  transform: rotateY(360deg);
}

/* 記事内容 */
.article-info {
  background-color: white;
  width: 70vw;
  min-width: 1200px;
  margin: 5vh 0vw;
  padding: 5vh 8vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 30px;
}
.article-title {
  margin-bottom: 20px;
  font-size: 20px;
  border-bottom: double 5px #FFC778;
}
.article-text {
  text-align: left;
  margin-bottom: 30px;
}
.article-text p{
  white-space: pre-wrap;
}
.article-time {
  width: 100%;
  margin: 20px 5px;
  font-size: 15px;
}

/* 投稿者情報 */
.user_info {
  width: 80%;
  display: flex;
  justify-content: space-between;
}
.user_info b {
  color: #505050;
  padding: 0.5em;
  margin-right: 2px;
  display: inline-block;
  line-height: 1.3;
  background: #dbebf8;
  vertical-align: middle;
  border-radius: 25px 0px 0px 25px;
}
.user_info b:before {
  content: '●';
  color: white;
  margin-right: 8px;
}

/* コメント欄 */
.comments-form {
  width: 70vw;
  min-width: 1200px;
  text-align: center;
}
.comment_text {
  margin: 0 auto 20px;
  display: block;
}
.comment_text p{
  white-space: pre-wrap;
}
.comment_btn {
  position: relative;
  display: inline-block;
  font-weight: bold;
  margin-bottom: 20px;
  padding: 0.5em 1em;
  text-decoration: none;
  border-left: solid 4px #afda9b;
  border-right: solid 4px #afda9b;
  color: #3a4a32;
  background: #e2f4d9;
  transition: .4s;
}
.comment_btn:hover {
  background: #5b9857;
  color: #FFF;
}
.comments_fild {
  background-color: white;
  width: 70vw;
  min-width: 1200px;
  margin-bottom: 20px;
  padding: 0vh 10vw;
  border-radius: 30px;
}
.comments_fild h1 {
  margin: 10px 0;
  font-size: 20px;
}
.comments_fild p {
  margin-bottom: 10px;
}